{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid landing-section">
    <div class="container d-flex justify-content-around intro">
        <div class="container">
            <h1 class="heading pt-3">COVID-19 <br>TRACKER</h1>
            <p class="py-3">Be on the know with regards to the Corona Virus</p>
            <form action="get">
                <input type="text" name="country" id="country" placeholder="   Search for a country">
            </form>
        </div>
        <div class="container d-none d-md-block d-sm-block d-lg-block">
            <img class='doctor pt-3'  src="{% static 'images/Doctor.png'%}" alt="">
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center text-center">
    <div class="container">
<h5>TOTAL CONFIRMED CASES</h5>
<p>{{confirmed}}</p>
    </div>
    <div class="container">
        <h5>TOTAL CONFIRMED DEATHS</h5>
        <p>{{deaths}}</p>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center text-center">
    <div class="container">
<h5>TOTAL CONFIRMED RECOVERIES</h5>
<p>{{recovered}}</p>
    </div>
    <div class="container">
        <h5>ACTIVE CASES</h5>
        <p>{{active}}</p>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center text-center">
    <div class="container">
<h5>FATALITY RATE</h5>
<p>{{fatality}}</p>
    </div>
    <div class="container">
        <h5>UPDATED AS AT</h5>
        <p>{{update}}</p>
    </div>
</div>
{% endblock %}